.DS_Store
.output
.scannerwork

Framework/*
!Framework/*.xcframework
**/fastlane/report.xml
fastlane/Matchfile
fastlane/Appfile
**/fastlane/README.md
fastlane/.cache

.Trashes
*.lock

DerivedData/
build/

!default.pbxuser
!default.mode1v3
!default.mode2v3
!default.perspectivev3
*.xccheckout
xcuserdata/
Pods
